/UnityProject/Temp
/UnityProject/Library/ScriptAssemblies
/UnityProject/Library/metadata
/UnityProject/Library/*.log
/UnityProject/Library/ShaderCache
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/obj
/UnityProject/Library/
/UnityProject/.vs
/UnityProject/.vs*
/UnityProject/UserSettings/*
/UnityProject/Logs

/Publish
/UnityProject/UnityProject.userprefs
.DS_Store
/UnityProject/*.apk
/KeyStore/*.keystore

/UnityProject/Assets/NGUI/Examples