/UnityProject/Temp
/UnityProject/Library/ScriptAssemblies
/UnityProject/Library/metadata
/UnityProject/Library/*.log
/UnityProject/Library/ShaderCache
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/obj
/UnityProject/Library/
/UnityProject/.vs
/Publish
/UnityProject/UnityProject.userprefs
.DS_Store
/UnityProject/*.apk
