/UnityProject/Temp
/UnityProject/Library/ScriptAssemblies
/UnityProject/Library/metadata
/UnityProject/Library/*.log
/UnityProject/Library/ShaderCache
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/obj
/UnityProject/Library/CurrentLayout.dwlt
/UnityProject/.vs
/UnityProject/Library/CrashedAssetImports.txt
/UnityProject/Library/InspectorExpandedItems.asset
/UnityProject/Library/assetDatabase3
/UnityProject/Library/guidmapper
/Publish
/UnityProject/Library/EditorUserBuildSettings.asset
/UnityProject/Library/expandedItems
/UnityProject/Library/AssetImportState
